Repository fengtianze/tank: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p . -t stylish --fix

chore: upgrade dependencies
  .huskyrc
  .lintstagedrc
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  components/utils/__test__/fp.test.ts
  package-lock.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

refactor: refactor class component with hooks
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  components/button/button.tsx
  components/button/style.scss
  components/icon/icon.tsx
  package-lock.json
  package.json
  stories/button/index.tsx
Due: prettier --write, tslint -p . -t stylish --fix

feat: dialog
  components/button/__test__/button.test.tsx
  components/button/button.tsx
  components/button/types.ts
  components/dialog/confirm-dialog.tsx
  components/dialog/dialog.tsx
  components/dialog/index.ts
  components/dialog/style.scss
  components/dialog/types.ts
  components/icon/icon.tsx
  components/icon/tk-icons.ts
  components/icon/types.ts
  components/index.ts
  components/tank.scss
  components/theme/_mixin.scss
  stories/button/index.tsx
  stories/dialog/index.tsx
  stories/index.ts
  tsconfig.json
  tslint.json
Due: prettier --write, tslint -p . -t stylish --fix

feat: input
  components/button/types.ts
  components/dialog/dialog.tsx
  components/dialog/types.ts
  components/icon/types.ts
  components/index.ts
  components/input/index.ts
  components/input/input.tsx
  components/input/style.scss
  components/input/types.ts
  components/tank.scss
  components/theme/_var.scss
  components/types.ts
  stories/dialog/index.tsx
  stories/index.ts
  stories/input/index.tsx
Due: prettier --write, tslint -p . -t stylish --fix

feat: select
  components/button/button.tsx
  components/dialog/dialog.tsx
  components/index.ts
  components/input/input.tsx
  components/select/index.ts
  components/select/option.tsx
  components/select/select.tsx
  components/select/style.scss
  components/select/types.ts
  components/tank.scss
  package-lock.json
  package.json
  stories/index.ts
  stories/input/index.tsx
  stories/select/index.tsx
  tslint.json
Due: prettier --write, tslint -p . -t stylish --fix

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

feat: tooltip
  .gitignore
  components/button/__test__/button.test.tsx
  components/button/button.tsx
  components/button/types.ts
  components/dialog/confirm-dialog.tsx
  components/dialog/dialog.tsx
  components/dialog/style.scss
  components/icon/icon.tsx
  components/index.ts
  components/input/input.tsx
  components/select/option.tsx
  components/select/select.tsx
  components/tank.scss
  components/theme/style.scss
  components/tooltip/index.ts
  components/tooltip/style.scss
  components/tooltip/tooltip-content.tsx
  components/tooltip/tooltip.tsx
  components/tooltip/types.ts
  components/utils/overlay.ts
  package-lock.json
  package.json
  stories/button/index.tsx
  stories/dialog/index.tsx
  stories/index.ts
  stories/tooltip/index.tsx
Due: prettier --write, tslint -p . -t stylish --fix

feat: select
  components/dialog/style.scss
  components/select/select.tsx
  components/select/style.scss
  components/theme/style.scss
  components/tooltip/tooltip-content.tsx
  components/tooltip/tooltip.tsx
  components/tooltip/types.ts
  package-lock.json
  package.json
  stories/select/index.tsx
  stories/tooltip/index.tsx
Due: prettier --write, tslint -p . -t stylish --fix

feat: add select component styles
  components/icon/icon-registry.ts
  components/input/style.scss
  components/select/option.tsx
  components/select/select.tsx
  components/select/style.scss
  components/style/input-style.scss
  components/style/option-style.scss
  components/theme/_var.scss
  components/tooltip/tooltip.tsx
  components/tooltip/types.ts
  components/utils/fp.ts
  package-lock.json
  package.json
  stories/tooltip/index.tsx
  tsconfig.json
  tslint.json
Due: prettier --write, tslint -p . -t stylish --fix

chore: replace tslint with eslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  components/button/button.tsx
  components/dialog/confirm-dialog.tsx
  components/dialog/dialog.tsx
  components/icon/icon.tsx
  components/input/input.tsx
  components/select/option.tsx
  components/select/select.tsx
  components/tooltip/tooltip-content.tsx
  components/tooltip/tooltip.tsx
  components/utils/__test__/fp.test.ts
  components/utils/class-helper.ts
  components/utils/fp.ts
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, tslint -p . -t stylish --fix

fix: select component add arrow icon
  components/dialog/confirm-dialog.tsx
  components/icon/tk-icons.ts
  components/select/select.tsx
  components/select/style.scss
  stories/dialog/index.tsx
Due: prettier --write, tslint -p . -t stylish --fix

feat: add bind function
  .huskyrc.json
  .lintstagedrc.json
  components/utils/__test__/fns.test.js
  components/utils/fns.js
  components/utils/fp.ts
  jest.config.js
Due: prettier --write, tslint -p . -t stylish --fix

refactor: curry fn
  components/utils/fns.js
Due: prettier --write

refactor: optimize curry fn
  components/utils/fns.js
Due: prettier --write

fix: optimize compose fn
  components/utils/fns.js
Due: prettier --write

Create deploy-pages.yml
  .github/workflows/deploy-pages.yml
Due: none

Update deploy-pages.yml
  .github/workflows/deploy-pages.yml
Due: none

Create test.yml
  .github/workflows/test.yml
Due: none

udpate github actions deploy.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/deploy.yml
Due: none

test publish pipeline
  .github/workflows/publish.yml
Due: none

Deploy to GitHub pages
  favicon.ico
  iframe.html
  index.html
  main.0fb5e893cc118b54dca8.bundle.js
  main.1456342389f1c7c0369b.bundle.js
  main.1456342389f1c7c0369b.bundle.js.map
  runtime~main.1456342389f1c7c0369b.bundle.js
  runtime~main.1456342389f1c7c0369b.bundle.js.map
  runtime~main.ab7db0239d02e2e25577.bundle.js
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.LICENCE
  sb_dll/storybook_ui_dll.js
  vendors~main.1456342389f1c7c0369b.bundle.js
  vendors~main.1456342389f1c7c0369b.bundle.js.LICENSE.txt
  vendors~main.1456342389f1c7c0369b.bundle.js.map
  vendors~main.33a8adab9335fef6737f.bundle.js
Due: prettier --write

chore: test copilot
  components/button/button.tsx
Due: tslint -p . -t stylish --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,json,css,sass,scss,html}
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
